@model NEGOSUD.Models.Entities.OrderViewModel

@{
    ViewData["Title"] = "Créer une commande";
}

<h1>Créer une commande</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <form asp-action="AddToCart" method="post">
                <div class="card">
                    <p>@product.Name</p>
                </div>
                <button type="submit" class="btn btn-primary">Ajouter au panier</button>
            </form>
        </div>
    }
</div>