@using Microsoft.AspNetCore.Identity
@using NEGOSUD.Models.Entities
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="d-flex">
            <!-- Determine number of cart items saved in session -->
            @{
                int cartCount = 0;
                var customerId = UserManager.GetUserId(User);
                if (customerId != null)
                {
                    var sessionKey = $"OrderViewModel_{customerId}";
                    var model = Context.Session.Get<OrderViewModel>(sessionKey);
                    if (model != null)
                    {
                        cartCount = model.OrderDetails.Sum(product => product.Quantity);
                    }
                }
            }
            <a class="btn btn-outline-light d-flex align-items-center" asp-action="Cart" asp-controller="Order">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">@cartCount</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">S'enregistrer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
        </li>
    }
</ul>