@{
    ViewData["Title"] = "Accueil";
}

<div class="container-fluid pb-5 mb-5 hero-header">
    <div class="container pt-3 pb-2">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">Passion, Terroir, Excellence.</h4>
                <h1 class="mb-5 display-3 text-primary">Découvrez les Vins d'Exception chez NEGOSUD</h1>
                <div class="position-relative mx-auto">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-primary border-2 border-secondary py-3 px-4 rounded-pill text-white h-100" style="top: 0; right: 25%;">Aller à la Boutique</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <img src="~/images/hero.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="Hero Image">
                           
                </div>
            </div>
        </div>

    <!-- Featurs Section Start -->
    <div class="container-fluid featurs py-5">
        <div class="container pt-2 pb-2">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="text-center rounded bg-light p-4 shadow">
                        <div class="bg-secondary mb-4 mx-auto">
                            <i class="bi bi-truck h3"></i>
                        </div>
                        <div class="text-center">
                            <h5>Livraison Gratuite</h5>
                            <p class="mb-0">Gratuit pour les commandes de plus de 300 €</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="text-center rounded bg-light p-4 shadow">
                        <div class="rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="bi bi-shield-check h3"></i>
                        </div>
                        <div class="text-center">
                            <h5>Paiement Sécurisé</h5>
                            <p class="mb-0">Paiement 100% sécurisé</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="text-center rounded bg-light p-4 shadow">
                        <div class="rounded-circle bg-secondary mb-4 mx-auto">
                            <i class="bi bi-cash-stack h3"></i>
                        </div>
                        <div class="text-center">
                            <h5>Retour sous 30 jours</h5>
                            <p class="mb-0">Garantie de remboursement de 30 jours</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="text-center rounded bg-light p-4 shadow">
                        <div class="bg-secondary mb-5 mx-auto">
                            <i class="bi bi-headset h3"></i>
                        </div>
                        <div class="text-center">
                            <h5>Support 24/7 </h5>
                            <p class="mb-0">Support rapide à tout moment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featurs Section End -->


    </div>

